.navbar {
  transition:
    background-color 0.4s ease,
    padding 0.4s ease;
}

.navbar.scrolled {
  background-color: #051922;
  padding: 25px 0;
}

.navbar .nav-link {
  color: white;
  transition: color 0.4s ease;
}

.navbar-nav .nav-link.active {
  color: #fd7e14;
}

@media (max-width: 991px) {
  .navbar-icons {
    justify-content: flex-start;
    margin-top: 10px;
    flex-wrap: wrap;
  }
}

footer {
  background: #051922;
  color: white;
  text-align: center;
  padding: 20px 0;
}
/* General Body Styling */
body {
  background-color: #f5f5f5;
}

/* Auth Card for Login/Register */
.auth-card {
  max-width: 400px;
  margin: 100px auto;
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.btn-orange {
  background-color: #f28123;
  color: white;
  font-weight: 700;
  border-radius: 50px;
}

.btn-orange:hover {
  background-color: #d36e1a;
  color: white;
}

.auth-title {
  color: #051922;
  font-weight: 800;
}
.profile-header {
  background-color: #051922;
  color: white;
  padding: 40px 0;
}
.avatar-circle {
  width: 100px;
  height: 100px;
  background: #eee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 15px;
}
.status-pill {
  background: #f28123;
  color: white;
  border-radius: 20px;
  padding: 2px 12px;
  font-size: 0.8rem;
}
